.recipe_list_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

div a {
    color: #F2B705
}

.striped-table tr:nth-child(even) {
    background-color: rgb(214, 206, 206);
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    background-color: #04ADBF;
    padding: 2rem;
}

img {
    height: 200px;
}

nav {
    background-color: #04ADBF;
    border-bottom: 1px solid black;
    padding: 16px;
}

a {
    text-decoration: none;
    color: #0339A6;
}

h1 {
    color: #af8507;
}
